/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


/*===================MENU==========================*/

 #menu a, button{
     font-size: 18px !important;
     font-weight: 600;
    
 }

 #menu a{
     color:#3f3f3f;
     
 }
/*===================Carrousel de imagenes==========================*/

.carousel-inner {
    max-height:39rem !important;
}
/*===================Menú==========================*/

.container__menu{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
  
  }
  .menu{
    font-family: sans-serif;
    font-size: 14px;
  }
  .menu_grupo_encabezado{
    margin: 0px;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
  }
  .menu__grupo{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
    margin: 15px;
  }
  
  .menu__item{
    display: flex;
  }
  .menu__item_imagen{
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
  }
  
  .menu__item_texto{
    flex-grow: 1;
  }
  
  .menu__item_encabezado{
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .menu__item_nombre{
    margin-right: 1.5em;
  }
  
  .menu__item_descripcion{
    line-height: 1.6;
    margin-top: 5px;
  }
  
  @media screen and (min-width: 992px) {
    .menu{
      font-size: 16px;
    }
    .menu__grupo{
      grid-template-columns: repeat(2, 1fr);
    }
    .menu__item_imagen{
      width: 130px;
      height: 130px;
    }
  }
  

/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
    position:relative;
    top: -130px;
} 

 #seccion-contacto{
    background-color: #1b2a4e;
    min-height:500px;
    position:relative;
}

/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;
    
}

#titulo-formulario {
    color: #3f3f3f;
}




/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }
 
}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }

    
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}